<?xml version="1.0" encoding="utf-8"?>
<Content Key="d21b7702-6b9c-47d8-a58b-06a5858044cb" Alias="Projects" Level="2">
  <Info>
    <Parent Key="4f74f677-5abd-49d4-8d9b-23cbd2fae07f">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectListPage</ContentType>
    <CreateDate>2024-09-20T11:25:06</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="215aca51-67f1-451b-b1d2-17bd805abc8a">projectListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[]]></Value>
    </customHeadline>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b8317af3-3ab0-4fc9-9fa4-93ced8188d75",
      "udi": "umb://element/cec4119d11bd40adbd716cc5e30eac70",
      "sectionTitle": "{\u0022markup\u0022:\u0022\\u003Ch2\\u003ELet us know about \\u003Cbr\\u003Eyour next project\\u003C/h2\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}",
      "backgroundColor": "{\r\n  \u0022label\u0022: \u0022Gray\u0022,\r\n  \u0022value\u0022: \u0022#F7F7F7\u0022\r\n}",
      "sectionBackgroundImage": "[{\u0022key\u0022:\u0022dc21cd7c-4af7-4409-a55a-62aea1935771\u0022,\u0022mediaKey\u0022:\u00228cbf14a9-ecc8-4174-85d2-3eb460416d6f\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "contentBackgroundImage": "[{\u0022key\u0022:\u002266b3688f-7f24-4941-b4e2-3c9d66056993\u0022,\u0022mediaKey\u0022:\u00228dd94504-1eef-4b64-9856-5864f7e54b69\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/cec4119d11bd40adbd716cc5e30eac70",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>