<?xml version="1.0" encoding="utf-8"?>
<Content Key="db341794-1122-47fb-9208-8f464ea4f5fa" Alias="Services" Level="2">
  <Info>
    <Parent Key="4f74f677-5abd-49d4-8d9b-23cbd2fae07f">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-17T11:02:24</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9676791e-86cb-42a8-876d-d83840ce79d2">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003EWe Provide The Solutions\u0026nbsp;\u003Cbr\u003ETo Grow Your Business Faster\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </customHeadline>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b8317af3-3ab0-4fc9-9fa4-93ced8188d75",
      "udi": "umb://element/f8feb149e354487f97077f7f3f8f82b1",
      "sectionTitle": "{\u0022markup\u0022:\u0022\\u003Ch2\\u003ELet us know about \\u003Cbr\\u003Eyour next project\\u003C/h2\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}",
      "backgroundColor": "{\r\n  \u0022label\u0022: \u0022Gray\u0022,\r\n  \u0022value\u0022: \u0022#F7F7F7\u0022\r\n}",
      "sectionBackgroundImage": "[{\u0022key\u0022:\u0022a608c62f-bbe6-4df1-99d9-5e7d2518636c\u0022,\u0022mediaKey\u0022:\u00228cbf14a9-ecc8-4174-85d2-3eb460416d6f\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "contentBackgroundImage": "[{\u0022key\u0022:\u00225e4f8336-38a7-4a19-9faf-b46ce32422c1\u0022,\u0022mediaKey\u0022:\u00228dd94504-1eef-4b64-9856-5864f7e54b69\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/f8feb149e354487f97077f7f3f8f82b1",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>