<?xml version="1.0" encoding="utf-8"?>
<Content Key="06e66ae5-fa08-4f44-8423-7b97e4380fdf" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-06T12:04:32</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhone>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "1def757d-1001-464f-9c5a-b3863a3b1351",
    "mediaKey": "a5b9cc02-fbc3-478f-98c9-5907bef4f183",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e571f0e2-b19f-4344-a602-12d366de40c9",
      "udi": "umb://element/93aa6fe613b04aafaf9a110f3abf1fb5",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://facebook.com/onatrix"
    },
    {
      "contentTypeKey": "e571f0e2-b19f-4344-a602-12d366de40c9",
      "udi": "umb://element/d77dc30cba0847958e414233f0ae47c5",
      "platformName": "[\u0022X (former Twitter)\u0022]",
      "platformAccountUrl": "https://x.com/onatrix"
    },
    {
      "contentTypeKey": "e571f0e2-b19f-4344-a602-12d366de40c9",
      "udi": "umb://element/96a1f39bc2ac4531970a09631de8d091",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "https://linkedin.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/93aa6fe613b04aafaf9a110f3abf1fb5",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/d77dc30cba0847958e414233f0ae47c5",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/96a1f39bc2ac4531970a09631de8d091",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>