@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var linkUrl = Model?.Content.Value<string>("linkUrl");
}


@if (!string.IsNullOrEmpty(linkUrl)) 
{
    <a href="@linkUrl"</a>
}