:root {
    --color-default: #535656;

    --color-dark: #171717;
    --color-primary: #4F5955;
    --color-primary-light: #6d7573;
    --color-primary-dark: #2f3331;
    --color-secondary: #d9C3A9;
    --color-accent: #F2EDDC;
    --color-gray: #F7F7F7;
    --color-light: #ffffff;

    --color-border-dark: #333333;
    --color-border-dark-transparent: rgba(51, 51, 51, 0.10);
    --color-border-primary: #424946;
    --color-border-secondary: #C0AC94;
    --color-border-accent: #D5D1C2;
    --color-border-gray: #E3E3E3;
    --color-border-light: #EEEEEE;
    --color-border-light-transparent: rgba(255, 255, 255, 0.95);
}

:root.dark-theme {
    --color-dark: #E0E0E0;
    --color-primary: #A3B3AF;
    --color-primary-light: #C1CCC9;
    --color-primary-dark: #6F7976;
    --color-secondary: #3C2F26;
    --color-accent: #1A1A1A;
    --color-gray: #2B2B2B;
    --color-light: #171717;
    
    --color-border-dark: #CCCCCC;
    --color-border-dark-transparent: rgba(204, 204, 204, 0.10);
    --color-border-primary: #B6BCB9;
    --color-border-secondary: #42392E;
    --color-border-accent: #2A2925;
    --color-border-gray: #474747;
    --color-border-light: #2C2C2C;
    --color-border-light-transparent: rgba(23, 23, 23, 0.95);
}