a {
    display: inline-block;
    @include text;
    font-size: 1em;
    text-decoration: none;


    &:hover {
        text-decoration: underline;
    }
}

.nav-menu {

    .nav-link {
        &:hover {
            text-decoration: none;
        }
    }
    .nav-link.active {
        color: var(--color-secondary);
    }
}

