<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bfa256f2-d3e0-43d6-978c-597d3ee35520" Alias="Contact Page - Contact Form - Block List" Level="1">
  <Info>
    <Name>Contact Page - Contact Form - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ed00d848-48db-48f9-afa7-eaf47b81a198",
      "label": "Input Text - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "2ab12d87-0be4-47ae-afc8-f9025f430163",
      "label": "Input password - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "7324ac79-18e6-44f8-b234-d49060bbe755",
      "label": "Input Text Area - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "6629247d-daab-4a97-ae95-58ff0e1d127d",
      "label": "Button - {=buttonType}"
    },
    {
      "contentElementTypeKey": "58df0e47-19ca-4db3-b553-04384ed2f1cf",
      "label": "Select - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "f72893b7-1dcc-4042-9967-c99f62c9ed62"
    },
    {
      "contentElementTypeKey": "57e772af-28e6-4b8a-8ebb-4f5759efb22a"
    },
    {
      "contentElementTypeKey": "c74b4c0e-6a0f-47fc-bbd8-6fae55587299"
    },
    {
      "contentElementTypeKey": "4b949283-7491-4d91-8c01-cf9eab53d190"
    }
  ]
}]]></Config>
</DataType>