<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b72ac942-682e-425a-bbd2-8530676ccab7" Alias="Image Slider - Slides" Level="1">
  <Info>
    <Name>Image Slider - Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8953b9c6-fa64-4410-ba4a-15a2c5639e27",
      "label": "**slide item** - {=imageDescription}"
    }
  ]
}]]></Config>
</DataType>