<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5145f090-2bcb-4947-892e-334e032cf2b1" Alias="Input Text - Input Types" Level="1">
  <Info>
    <Name>Input Text - Input Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "phone"
  ]
}]]></Config>
</DataType>