<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f8010a2-7158-4e06-a5ce-b81478bb6f68" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "f0ff9e6d-1e0d-4234-913a-1fe9e93470a8",
      "name": "Containers"
    },
    {
      "key": "9df9b2d3-b4cf-4d08-8455-7aeb642f3fae",
      "name": "Components"
    },
    {
      "key": "5016fc16-a96f-41f6-9538-2a0c956fc9ed",
      "name": "Form Content"
    },
    {
      "key": "dd4cccde-1a3b-4a58-bce3-a2f95000f9ad",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "c74b4c0e-6a0f-47fc-bbd8-6fae55587299",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "groupKey": "f0ff9e6d-1e0d-4234-913a-1fe9e93470a8",
      "areas": [
        {
          "key": "48ef7c01-d589-4ea6-ae48-d34f3980c1da",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "57e772af-28e6-4b8a-8ebb-4f5759efb22a",
      "allowAtRoot": false,
      "groupKey": "f0ff9e6d-1e0d-4234-913a-1fe9e93470a8",
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "1a1bf0c1-3ca8-4937-9013-e588f681e193",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "f72893b7-1dcc-4042-9967-c99f62c9ed62",
      "allowAtRoot": false,
      "groupKey": "f0ff9e6d-1e0d-4234-913a-1fe9e93470a8",
      "label": "dynamic container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "e558626f-53fa-4a70-b7eb-32873b277306",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 11
        }
      ]
    },
    {
      "contentElementTypeKey": "4b949283-7491-4d91-8c01-cf9eab53d190",
      "allowAtRoot": true,
      "groupKey": "f0ff9e6d-1e0d-4234-913a-1fe9e93470a8",
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "52f625d7-0389-4796-8858-7bb5f7b8144d",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "89f44a00-337d-41ea-af1c-c19949ef728a",
      "allowAtRoot": false,
      "groupKey": "9df9b2d3-b4cf-4d08-8455-7aeb642f3fae",
      "label": "image slider",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "4bb4ee6a-c92d-4b5d-8782-af5f21bc0e7f",
      "allowAtRoot": true,
      "groupKey": "9df9b2d3-b4cf-4d08-8455-7aeb642f3fae"
    },
    {
      "contentElementTypeKey": "b8317af3-3ab0-4fc9-9fa4-93ced8188d75",
      "allowAtRoot": true,
      "groupKey": "9df9b2d3-b4cf-4d08-8455-7aeb642f3fae"
    },
    {
      "contentElementTypeKey": "bbaea6ab-2959-4e2c-b70d-7837fec4ad7c",
      "allowAtRoot": true,
      "groupKey": "9df9b2d3-b4cf-4d08-8455-7aeb642f3fae",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "df5df65a-ff65-45b9-8266-85d6d2ed3f3e",
      "allowAtRoot": false,
      "groupKey": "9df9b2d3-b4cf-4d08-8455-7aeb642f3fae",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2a726120-c957-47d2-be20-e3ec1b7230ba",
      "allowAtRoot": false,
      "groupKey": "dd4cccde-1a3b-4a58-bce3-a2f95000f9ad",
      "label": "heading 6",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "78ca9b7d-613b-4e8f-8e67-5ab154971d87",
      "allowAtRoot": false,
      "groupKey": "dd4cccde-1a3b-4a58-bce3-a2f95000f9ad",
      "label": "heading 5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "46f060d6-ba58-4da8-b3ee-7a8b09bed6f1",
      "allowAtRoot": false,
      "groupKey": "dd4cccde-1a3b-4a58-bce3-a2f95000f9ad",
      "label": "heading 4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "3911deb8-c924-45cb-b798-fc1a7cf6b5e0",
      "allowAtRoot": false,
      "groupKey": "dd4cccde-1a3b-4a58-bce3-a2f95000f9ad",
      "label": "heading 3",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f048baa2-cd62-4510-80a3-30cf21715fae",
      "allowAtRoot": false,
      "groupKey": "dd4cccde-1a3b-4a58-bce3-a2f95000f9ad",
      "label": "heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9aec0cc7-5e14-40de-a662-4630a2bed18d",
      "allowAtRoot": false,
      "groupKey": "dd4cccde-1a3b-4a58-bce3-a2f95000f9ad",
      "label": "heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "915cc220-ad37-4947-be92-4a88e8824bed",
      "allowAtRoot": false,
      "groupKey": "dd4cccde-1a3b-4a58-bce3-a2f95000f9ad",
      "label": "rich text",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e2190fda-63a2-423e-8d8e-7f543c88f884",
      "allowAtRoot": false,
      "groupKey": "dd4cccde-1a3b-4a58-bce3-a2f95000f9ad",
      "label": "paragraph",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "61a1c4c1-305b-4e3b-a6be-a4376223097a",
      "allowAtRoot": false,
      "groupKey": "dd4cccde-1a3b-4a58-bce3-a2f95000f9ad",
      "label": "image html element",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "7eb2627d-cff4-4d30-9324-5cfd4a34b34c",
      "allowAtRoot": false,
      "groupKey": "dd4cccde-1a3b-4a58-bce3-a2f95000f9ad",
      "label": "button link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "4a5c1da5-2c9b-4b91-983c-9e616e4eefb4",
      "allowAtRoot": false,
      "groupKey": "dd4cccde-1a3b-4a58-bce3-a2f95000f9ad",
      "label": "quotation",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b7d93349-3a59-4b19-810c-fa984a46b3ea",
      "allowAtRoot": false,
      "groupKey": "dd4cccde-1a3b-4a58-bce3-a2f95000f9ad",
      "label": "link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "ed00d848-48db-48f9-afa7-eaf47b81a198",
      "allowAtRoot": true,
      "groupKey": "5016fc16-a96f-41f6-9538-2a0c956fc9ed",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "58df0e47-19ca-4db3-b553-04384ed2f1cf",
      "allowAtRoot": false,
      "groupKey": "5016fc16-a96f-41f6-9538-2a0c956fc9ed",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "6629247d-daab-4a97-ae95-58ff0e1d127d",
      "allowAtRoot": false,
      "groupKey": "5016fc16-a96f-41f6-9538-2a0c956fc9ed",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "7324ac79-18e6-44f8-b234-d49060bbe755",
      "allowAtRoot": false,
      "groupKey": "5016fc16-a96f-41f6-9538-2a0c956fc9ed",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>