<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a3c26468-3eda-4336-a242-dfc83199fa6d" Alias="Paragraph - Paragraph Content" Level="1">
  <Info>
    <Name>Paragraph - Paragraph Content</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>