<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5dcdc5eb-968a-4cc0-a7fa-64be78d5ff56" Alias="Project Item Template - Preamble - Text Area" Level="1">
  <Info>
    <Name>Project Item Template - Preamble - Text Area</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>