<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4fab51ee-932a-4af9-aef7-b5dc9e7ddd82" Alias="Project Item - Dropdown " Level="1">
  <Info>
    <Name>Project Item - Dropdown </Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Financial Services",
    "Statistics Services"
  ]
}]]></Config>
</DataType>