<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd4a5cfb-1cf9-434b-b785-b5df96925d47" Alias="Quotation - Quote Text" Level="1">
  <Info>
    <Name>Quotation - Quote Text</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>