<?xml version="1.0" encoding="utf-8"?>
<DataType Key="680659e6-8016-4b49-b0fb-5798e99cd657" Alias="Select Category - Categories" Level="1">
  <Info>
    <Name>Select Category - Categories</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>