<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5fc99770-9001-4b13-bc94-9296239a9fdd" Alias="Service Item Template - Preamble - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Service Item Template - Preamble - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>