<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0030baf-0450-4e40-b906-d803467dd207" Alias="Settings Page - Social Media Platforms " Level="1">
  <Info>
    <Name>Settings Page - Social Media Platforms </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e571f0e2-b19f-4344-a602-12d366de40c9",
      "label": "**{=platformName}** - {=platformAccountUrl}"
    }
  ]
}]]></Config>
</DataType>