<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd24313a-2a64-43d7-81c4-f520ab760d0e" Alias="Social Media Item Dropdown List" Level="1">
  <Info>
    <Name>Social Media Item Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "YouTube",
    "LinkedIn",
    "X (former Twitter)",
    "TikTok"
  ]
}]]></Config>
</DataType>