<?xml version="1.0" encoding="utf-8"?>
<Media Key="30ce041a-2abd-4b61-ab14-6d1a9f87947f" Alias="About us" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-24T14:26:18</CreateDate>
    <NodeName Default="About us" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>