<?xml version="1.0" encoding="utf-8"?>
<Media Key="2eafb408-a56b-4428-b1d4-32e5485e9d64" Alias="Annual Reports for Juva Inc" Level="2">
  <Info>
    <Parent Key="5e6d0893-92d0-4637-aafd-c3bfdd720470">Projects</Parent>
    <Path>/Projects/AnnualReportsForJuvaInc</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-20T11:44:42</CreateDate>
    <NodeName Default="Annual Reports for Juva Inc" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>