<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee15bdb6-6067-4779-97a8-3e2c81316ed5" Alias="Annual Report" Level="3">
  <Info>
    <Parent Key="2eafb408-a56b-4428-b1d4-32e5485e9d64">Annual Reports for Juva Inc</Parent>
    <Path>/Projects/AnnualReportsForJuvaInc/AnnualReport</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T10:48:34</CreateDate>
    <NodeName Default="Annual Report" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/hf1fgwao/pj1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>