<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f22a210-a83c-46aa-bd8d-bacf573bc322" Alias="Annual report for Juva" Level="3">
  <Info>
    <Parent Key="2eafb408-a56b-4428-b1d4-32e5485e9d64">Annual Reports for Juva Inc</Parent>
    <Path>/Projects/AnnualReportsForJuvaInc/AnnualReportForJuva</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T11:33:27</CreateDate>
    <NodeName Default="Annual report for Juva" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/t3ugikkv/pj1-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>