<?xml version="1.0" encoding="utf-8"?>
<Media Key="90685a26-7edb-467f-b946-992e5f5e947f" Alias="Annual Reports" Level="2">
  <Info>
    <Parent Key="c1392ead-6ac4-4534-bad9-3148ebeb27b5">Services</Parent>
    <Path>/Services/AnnualReports</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-19T10:56:06</CreateDate>
    <NodeName Default="Annual Reports" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/vgic2jvs/pj1-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>