<?xml version="1.0" encoding="utf-8"?>
<Media Key="7181f06d-ce52-496f-b7cc-7526b81a6630" Alias="Bonds" Level="2">
  <Info>
    <Parent Key="c1392ead-6ac4-4534-bad9-3148ebeb27b5">Services</Parent>
    <Path>/Services/Bonds</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T13:03:26</CreateDate>
    <NodeName Default="Bonds" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2i3mprz1/bonds_commodities.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>