<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5b9cc02-fbc3-478f-98c9-5907bef4f183" Alias="Brand" Level="2">
  <Info>
    <Parent Key="ead72b29-d595-466a-af4a-184954b2d9bd">Misc</Parent>
    <Path>/Misc/Brand</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T12:05:09</CreateDate>
    <NodeName Default="Brand" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/rudp4e3k/brand.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>