<?xml version="1.0" encoding="utf-8"?>
<Media Key="aec989f8-830d-4ef1-9054-488b38c6e02b" Alias="Budget Planning" Level="2">
  <Info>
    <Parent Key="c1392ead-6ac4-4534-bad9-3148ebeb27b5">Services</Parent>
    <Path>/Services/BudgetPlanning</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-19T10:56:21</CreateDate>
    <NodeName Default="Budget Planning" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/o3bj4gde/pj4-2png.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>