<?xml version="1.0" encoding="utf-8"?>
<Media Key="a74e8d5e-f6a8-4aa7-8da4-5a4e9f2079d1" Alias="Budget Planning for Buccura Inc" Level="3">
  <Info>
    <Parent Key="c8dd6366-d45a-4328-9114-38915b551e6d">Budget Planning for Buccura Inc (1)</Parent>
    <Path>/Projects/BudgetPlanningForBuccuraInc1/BudgetPlanningForBuccuraInc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T11:34:26</CreateDate>
    <NodeName Default="Budget Planning for Buccura Inc" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/0fdbqeob/pj4-4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>