<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8dd6366-d45a-4328-9114-38915b551e6d" Alias="Budget Planning for Buccura Inc (1)" Level="2">
  <Info>
    <Parent Key="5e6d0893-92d0-4637-aafd-c3bfdd720470">Projects</Parent>
    <Path>/Projects/BudgetPlanningForBuccuraInc1</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-20T11:46:02</CreateDate>
    <NodeName Default="Budget Planning for Buccura Inc (1)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>