<?xml version="1.0" encoding="utf-8"?>
<Media Key="aba0a8ca-3673-45c2-9a10-59a4be81871d" Alias="Business Insight SP Group" Level="3">
  <Info>
    <Parent Key="c4435979-6a3f-4300-b6bc-6a2fd10e207d">Business Insights for SP Group Inc</Parent>
    <Path>/Projects/BusinessInsightsForSPGroupInc/BusinessInsightSPGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T10:48:55</CreateDate>
    <NodeName Default="Business Insight SP Group" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ivromhi0/pj2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>