<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4435979-6a3f-4300-b6bc-6a2fd10e207d" Alias="Business Insights for SP Group Inc" Level="2">
  <Info>
    <Parent Key="5e6d0893-92d0-4637-aafd-c3bfdd720470">Projects</Parent>
    <Path>/Projects/BusinessInsightsForSPGroupInc</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-20T11:45:04</CreateDate>
    <NodeName Default="Business Insights for SP Group Inc" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>