<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cbf14a9-ecc8-4174-85d2-3eb460416d6f" Alias="Contact" Level="2">
  <Info>
    <Parent Key="338069cb-4e95-47e5-b428-c7c391f3d90b">Contact Page</Parent>
    <Path>/ContactPage/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-23T14:13:03</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/e1ppsovb/img-5-e1695109900349-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>