<?xml version="1.0" encoding="utf-8"?>
<Media Key="8dd94504-1eef-4b64-9856-5864f7e54b69" Alias="dots" Level="2">
  <Info>
    <Parent Key="338069cb-4e95-47e5-b428-c7c391f3d90b">Contact Page</Parent>
    <Path>/ContactPage/dots</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-23T14:12:44</CreateDate>
    <NodeName Default="dots" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/rohj4o2g/dot.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>