<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c885e8a-701e-4ead-841f-4325b2c37cce" Alias="Financial Advice Irra Corp" Level="3">
  <Info>
    <Parent Key="c46eb8d8-7b4b-4e70-b666-c92ec4698029">Financial Advisors for Irra Group (1)</Parent>
    <Path>/Projects/FinancialAdvisorsForIrraGroup1/FinancialAdviceIrraCorp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T10:49:17</CreateDate>
    <NodeName Default="Financial Advice Irra Corp" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/awkm3gtx/pj3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>