<?xml version="1.0" encoding="utf-8"?>
<Media Key="636c3955-bb13-4631-8e63-1f0d67a71aa5" Alias="Financial Advisors for Irra Group" Level="3">
  <Info>
    <Parent Key="c46eb8d8-7b4b-4e70-b666-c92ec4698029">Financial Advisors for Irra Group (1)</Parent>
    <Path>/Projects/FinancialAdvisorsForIrraGroup1/FinancialAdvisorsForIrraGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T11:34:11</CreateDate>
    <NodeName Default="Financial Advisors for Irra Group" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1lzdvvl0/pj3-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>