<?xml version="1.0" encoding="utf-8"?>
<Media Key="c46eb8d8-7b4b-4e70-b666-c92ec4698029" Alias="Financial Advisors for Irra Group (1)" Level="2">
  <Info>
    <Parent Key="5e6d0893-92d0-4637-aafd-c3bfdd720470">Projects</Parent>
    <Path>/Projects/FinancialAdvisorsForIrraGroup1</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-20T11:45:17</CreateDate>
    <NodeName Default="Financial Advisors for Irra Group (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>