<?xml version="1.0" encoding="utf-8"?>
<Media Key="706426d2-191a-4322-b4d4-e650c79477b2" Alias="Fossilgroup" Level="2">
  <Info>
    <Parent Key="1d3b069b-337d-4474-8159-8545046fbe88">Partners</Parent>
    <Path>/Partners/Fossilgroup</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T10:51:13</CreateDate>
    <NodeName Default="Fossilgroup" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/lxwcfrtt/06.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>