<?xml version="1.0" encoding="utf-8"?>
<Media Key="f79663c1-a29b-4ef2-86eb-701d3c12ee50" Alias="Freedombird" Level="2">
  <Info>
    <Parent Key="1d3b069b-337d-4474-8159-8545046fbe88">Partners</Parent>
    <Path>/Partners/Freedombird</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T10:50:02</CreateDate>
    <NodeName Default="Freedombird" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/j0unaqps/01.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>