<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2e7121d-5696-4a51-af22-3a7cbfd7b461" Alias="HeroSlider" Level="2">
  <Info>
    <Parent Key="16198348-cc85-42b0-ba26-71699e2cd762">Hero Slider</Parent>
    <Path>/HeroSlider/HeroSlider</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-29T12:28:25</CreateDate>
    <NodeName Default="HeroSlider" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/slmkcvh5/sl-home2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>