<?xml version="1.0" encoding="utf-8"?>
<Media Key="16198348-cc85-42b0-ba26-71699e2cd762" Alias="Hero Slider" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroSlider</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-29T12:27:44</CreateDate>
    <NodeName Default="Hero Slider" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>