<?xml version="1.0" encoding="utf-8"?>
<Media Key="df282020-a696-40f1-aa7c-8131f13bfc23" Alias="Identity" Level="2">
  <Info>
    <Parent Key="1d3b069b-337d-4474-8159-8545046fbe88">Partners</Parent>
    <Path>/Partners/Identity</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T10:50:18</CreateDate>
    <NodeName Default="Identity" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/v5vg20p5/02.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>