<?xml version="1.0" encoding="utf-8"?>
<Media Key="ead72b29-d595-466a-af4a-184954b2d9bd" Alias="Misc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Misc</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-29T12:28:01</CreateDate>
    <NodeName Default="Misc" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>