<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d3b069b-337d-4474-8159-8545046fbe88" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-13T10:49:43</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>