<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e6d0893-92d0-4637-aafd-c3bfdd720470" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-12T10:15:02</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>