<?xml version="1.0" encoding="utf-8"?>
<Media Key="47819525-0a96-44ec-9cb3-435b50436ee7" Alias="Statistic Advisors" Level="2">
  <Info>
    <Parent Key="c1392ead-6ac4-4534-bad9-3148ebeb27b5">Services</Parent>
    <Path>/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T13:04:27</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/vjpnp2p5/statistic_advisors.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>