<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3c8f87a-c118-4a7f-aeda-45ec345942d1" Alias="success_video" Level="2">
  <Info>
    <Parent Key="ead72b29-d595-466a-af4a-184954b2d9bd">Misc</Parent>
    <Path>/Misc/success_video</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T11:02:40</CreateDate>
    <NodeName Default="success_video" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/4uzi2zlr/video.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>