<?xml version="1.0" encoding="utf-8"?>
<Media Key="df02b313-9b2b-4c3d-9db7-7756f0401b42" Alias="Tax and trust" Level="2">
  <Info>
    <Parent Key="c1392ead-6ac4-4534-bad9-3148ebeb27b5">Services</Parent>
    <Path>/Services/TaxAndTrust</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T13:03:55</CreateDate>
    <NodeName Default="Tax and trust" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/tr2fi0kc/tax_trust.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>