<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcf6d5ec-db51-429a-b79f-aaeefae87688" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-29T12:27:56</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>