<?xml version="1.0" encoding="utf-8"?>
<Media Key="359f4185-d558-40cc-b991-06f3f6e2d1eb" Alias="tm4" Level="2">
  <Info>
    <Parent Key="bcf6d5ec-db51-429a-b79f-aaeefae87688">Team Members</Parent>
    <Path>/TeamMembers/tm4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-29T12:29:29</CreateDate>
    <NodeName Default="tm4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/bkfntazr/img_choose_01_home01-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>