<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0a6802f-aee0-489f-9ae3-fe8979c9b308" Alias="Trust" Level="2">
  <Info>
    <Parent Key="ead72b29-d595-466a-af4a-184954b2d9bd">Misc</Parent>
    <Path>/Misc/Trust</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T10:19:42</CreateDate>
    <NodeName Default="Trust" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ubfoabuj/img-1-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>