<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a6453f5-4ca9-4252-9da6-a259af5ff699" Alias="trust_dotmap" Level="2">
  <Info>
    <Parent Key="ead72b29-d595-466a-af4a-184954b2d9bd">Misc</Parent>
    <Path>/Misc/trust_dotmap</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T10:19:54</CreateDate>
    <NodeName Default="trust_dotmap" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/pkmdftga/dot-map-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>