@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section id="question">
    <div class="container">
        <h4>Have a question ?</h4>
        <div class="form-input-group">
            <input class="form-input" placeholder="Name">
            <input class="form-input" placeholder="Email">
            <textarea class="form-textarea" placeholder="Question"></textarea>
        </div>
        <div class="form-input-group">
            <button class="form-button">Submit</button>
        </div>  
    </div>
</section>