#tina-fox {
    padding-top: 5rem;
    padding-bottom: 10rem;

    .container {
        padding: 0;
        
        

        .content {
            
             
           
            .experience {
                margin-top: 0;
                font-style: italic;
                font-weight: 300;
                font-size: 20px;
                color: #535656;
            }
            
            p {
               font-size: 14px;
               line-height: 1.8rem;
               margin-left: 5rem;
            }

            .ceo {
                font-style: italic;
                font-size: 16px;
                margin: 0;
                margin-top: 1rem;
            }


        }
    }
}